:host {
  display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
  min-height: 100vh;
}

.sb-header {
  background-color: var(--header-bkg);
  box-shadow: var(--pop-shadow);
  color: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 9999;
}
