:host {
  display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
  height: 100vh;
}

.sb-app__main {
  overflow-y: auto;
  padding-top: 3rem;
}

#color-contrast {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    flex-basis: 25%;
    justify-content: center;
  }
}
