:host {
  background: var(--base-bkg);
  border: 1px solid var(--card-border);
  border-radius: .33rem;
  box-shadow: var(--pop-shadow);
  color: var(--base-color);
  display: block;
  margin-bottom: 3rem;
  padding: 2rem;
}
