:host {
  display: block;
  box-shadow: var(--pop-shadow);
  border: 1px solid var(--card-border);
  border-radius: .33rem;
  padding: 2rem;
  background: var(--base-color);
  color: var(--base-bkg);

  ::ng-deep {
    .sb-hr, hr {
      background-color: rgba(var(--base-bkg-rgb), .75);
    }

    blockquote {
      border-left-color: rgba(var(--base-bkg-rgb), .75);
    }

    .sb-spinner {
      &__fa-svg {
        color: var(--base-bkg);
      }
    }
  }
}
