:host {
  display: none;

  @media (min-width: 320px) {
    display: block;
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
  }
}

.sb-hero {
  background-image: url('/assets/IMG_4596.JPG');
  background-position: 0 83%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--pop-shadow);
  height: 300px;
  overflow: hidden;
  position: relative;

  @media (min-width: 1000px) {
    height: 30vw;
  }

  &__location,
  &__credit {
    color: #eee;
    left: 2rem;
    position: absolute;
    text-shadow: 1px 1px 3px black;
  }

  &__location {
    bottom: 1rem;
    font-size: 1rem;

    @media (min-width: 1000px) {
      font-size: 1.5rem;
    }
  }

  &__credit {
    bottom: 3rem;
    font-size: .75rem;

    @media (min-width: 1000px) {
      font-size: 1rem;
    }
  }
}
