:host {
  display: block;
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.sb-hero {
  background-image: url('/assets/IMG_0359.jpg');
  background-position: 0 23%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--pop-shadow);
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
  height: 45vw;

  @media (min-width: 576px) {
    height: 25vw;
  }

  &__location,
  &__credit {
    color: #eee;
    left: 2rem;
    position: absolute;
    text-shadow: 1px 1px 3px black;
  }

  &__location {
    bottom: 1rem;
    font-size: 1rem;

    @media (min-width: 1000px) {
      font-size: 1.5rem;
    }
  }

  &__credit {
    bottom: 3rem;
    font-size: .75rem;

    @media (min-width: 1000px) {
      font-size: 1rem;
    }
  }
}
