$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

:root,
body.dark .invert-theme,
body.light .invert-theme .invert-theme,
body.dark .invert-theme .invert-theme .invert-theme {
  /*------------------------------------*\
    #CORE
  \*------------------------------------*/
  --base-color: #212121;
  --base-bkg: #F8F9F9;
  --base-border: #909090;
  --link: #7e57c2;
  --base-color-rgb: 21, 21, 21;
  --base-bkg-rgb: 232, 233, 243;
  --light-bkg-rgb: 255, 255, 255;
  --base-focus: 2px dotted var(--link);
  --selection-bkg: #b39ddb;
  --pop-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.84), 0 4px 25px 0px rgba(0, 0, 0, 0.18), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

  /*------------------------------------*\
    #HEADER
  \*------------------------------------*/
  --header-bkg: var(--base-color);
  --header-color: var(--base-bkg);
  --header-bkg-hover: #3F3F3F;

  /*------------------------------------*\
    #BUTTON
  \*------------------------------------*/
  --button-color: var(--base-bkg);
  --button-bkg: var(--link);

  /*------------------------------------*\
    #FORMS
  \*------------------------------------*/
  --input-bkg: white;

  /*------------------------------------*\
    #C-CARD
  \*------------------------------------*/
  --card-border: #212121;
}

body.dark,
body.light .invert-theme,
body.dark .invert-theme .invert-theme,
body.light .invert-theme .invert-theme .invert-theme {
  /*------------------------------------*\
    #CORE
  \*------------------------------------*/
  --base-color: #F8F9F9;
  --base-bkg: #212121;
  --base-border: #6b6b6b;
  --link: #a37ce8;
  --base-color-rgb: 232, 233, 243;
  --base-bkg-rgb: 21, 21, 21;
  --light-bkg-rgb: 0, 0, 0;

  /*------------------------------------*\
    #HEADER
  \*------------------------------------*/
  // N/A

  /*------------------------------------*\
    #BUTTON
  \*------------------------------------*/
  // N/A

  /*------------------------------------*\
    #FORMS
  \*------------------------------------*/
  --input-bkg: #181818;

  /*------------------------------------*\
    #C-CARD
  \*------------------------------------*/
  --card-border: #2C2A2C;
}

$secondary-font: Oswald, sans-serif;
