$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

:root {
  --base-color: #363436;
  --base-color-rgb: 38, 38, 38;
  --base-bkg: #F8F9F9;
  --base-bkg-rgb: 232, 233, 243;
  --base-focus: 2px dotted var(--link);
  --base-border: #DFE0E0;
  --link: #e58a49;

  --button-color: #F8F9F9;
  --button-bkg: var(--link);
  --button-bkg-info: #1c1c1c;

  --spinner-color: var(--base-color);

  --selection-bkg: #56BAC4;

  --card-border: #2C2A2C;
  --pop-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

body.dark {
  --base-color: #F8F9F9;
  --base-color-rgb: 232, 233, 243;
  --base-bkg: #363436;
  --base-bkg-rgb: 38, 38, 38;
  --base-border: #2C2A2C;

  --button-color: #ffffff;

  --spinner-color: var(--base-color);

  --card-border: #DFE0E0;
}
