@import '~src/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

.sb-songs {
  &__title-row {
    position: relative;
    z-index: 10;
  }
  &__title {
    text-align: center;
  }
  &__songlist {
    margin: 1rem auto 0 auto;
    max-width: 500px;
  }
  &__header-row {
    background-color: var(--base-bkg);
    position: sticky;
    top: 4rem;
    z-index: 5;
    @media (min-width: breakpoint-min(sm)) {
      top: 5rem;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 3rem;
      background-color: var(--base-bkg);
    }
  }
  &__alphalist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    ::ng-deep {
      .sb-alphalist-link {
        display: inline-block;
        padding:.2em;
        font-size: 1.2rem;
        width: 2rem;
        height: 2rem;
        text-align: center;

        &:hover,
        &:focus {
          &::after {
            display: inherit;
          }
        }
      }
    }
  }
}

::ng-deep {
  a[name] {
    position: relative;
    top: -15rem;
  }
}
