.sb-home {
  &__songlist {
    max-height: 500px;
    overflow-x: scroll;
  }

  &__alphalist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    ::ng-deep {
      .sb-alphalist-link {
        display: inline-block;
        padding:.2em;
        font-size: 1.2rem;
        width: 2rem;
        height: 2rem;
        text-align: center;

        &:hover,
        &:focus {
          &::after {
            display: inherit;
          }
        }
      }
    }
  }
}


$homeBottomPadding: 8rem;

.home-performancelist {
  position: relative;

  &__wrap {
    padding-bottom: $homeBottomPadding;
    max-height: 750px;
    overflow-x: scroll;
  }

  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: $homeBottomPadding;
    background: var(--base-light-gradient-vertical);
  }
}

.performance-heading {
  position: sticky;
  top: -1px;
  background: var(--base-bkg);
  z-index: 10;
  padding-bottom: 1rem;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -1rem;
    height: 1rem;
    background: var(--base-light-gradient-vertical-inverse);
  }
}
