@import '~src/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

::ng-deep {
  .admin footer {
    display: none;
  }
}

$top-pad: 3rem;
.sb-add-song {
  margin-top: 3rem;

  &__spinner {
    position: sticky;
    top: $top-pad;
    right: 0;
    left: 0;
  }

  &__songlist {
    background-color: rgba(var(--light-bkg-rgb), 0.7);
    position: absolute;
    width: 250px;
    top: 4rem;
    bottom:0;
    right:0;
    overflow: scroll;
    padding: $top-pad 1rem 1rem 1rem;
    border-left: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.2);

    @media (max-width: breakpoint-max(sm)) {
      position: relative;
      width: inherit;
    }

    &--hide {
      opacity: 0;
    }
  }

  &-alpha-list {
    position: absolute;
    right:250px;
    top:4rem;
    bottom:0;
    overflow: scroll;
    padding: $top-pad .25rem .25rem .25rem;

    @media (max-width: breakpoint-max(sm)) {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    ::ng-deep {
      .sb-alphalist-link {
        display: block;
        padding:.2em;
        color: var(--base-color);
        text-shadow: 1px 1px 1px rgba(var(--base-bkg-rgb), 1);
        text-decoration: none;
        text-align: center;
        font-size: 1.2rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

fieldset {
  border-left: .25rem solid var(--base-border);
  padding-left: .5rem;

  legend {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
